*.pyc
.venv/
/Flask_Backend/.venv/
__pycache__/
.idea/
.vscode/
.DS_Store
*.log
*.sqlite3
*.env
.env.*
*.pem
*.key
*.crt
*.p12
*.pfx
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
